.navbar{
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: absolute;
    top: 0;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    left: 0;
}

.navbar>div{

    align-items: center;
    
}

.navbar a{
    padding: 30px;
    background-color: gray;
    text-decoration: none;
    font-size: 20px; 
    color: brown;
}